*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
}

:root
{
    --tech: darkcyan;
    --healthcare: greenyellow;
    --science: green;
    --sport: aqua;
    --economy: orange;
    --policy: red;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

a
{
    color: #223344;
    text-decoration: none;
}

ul
{
    list-style: none;
}

img
{
    width: 100%;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Varela Round', sans-serif;
    margin: .7rem;
    line-height: 1.3;
}

p
{
    margin: .5rem 0;
}

.mycard
{
    background-color: #fff;
    padding: 1rem;
}

/*Utils*/
.mycontainer
{
    margin: 0 auto;
    padding: 0 4rem;
    max-width: 1300px;
}

.btnstyle
{
    display: inline-block;
    border: none;
    background-color: dimgrey;
    color: #fff;
    padding: .4rem 1.6rem;
    border-radius: 1rem;
    transition: 500ms;
}

.btnstyle:hover
{
    background-color: #fff;
    color: dimgrey;
    transition: 500ms;
}

.mysocial
{
    justify-self: end;
}

.mysocial a
{
    margin: 0 .5rem;
    color: aqua;
}

.mysocial a:hover
{
    color: black;
}

/*Navbar*/



.mynav
{
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.mynav .mycontainer
{
    display: grid;
    grid-template-columns: 0.6fr 3fr 2fr;
    padding: 1rem 4rem;
    align-items: center;
}

.mynav img
{
    width: 65px;
}

.mynav ul
{
    display: flex;
    justify-self: start;
}

.mynav li a
{
    transition: .5s;
    padding: .6rem;
    margin: 0 1.4rem;
    font-weight: 900;
    border-radius: 5px;
}

.mynav li a
{
    color: greenyellow;
}

.mynav li a.active
{
    background: linear-gradient(to right,red,blue);
}

.mynav li a:hover
{
    background: linear-gradient(to left, red, blue);
    color: white;
    transition: .5s;
}



/*Main*/
.main
{
    color: #fff;
    padding: 2rem;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
}

.main::before
{
    background: url("../img/rowing.jpeg") no-repeat center center/cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mycontainer .main-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
    align-items: center;
}

.main .main-content p
{
    margin-bottom: 1rem;
}

.category-sport
{
    background-color: var(--sport);
}

.category-science
{
    background-color: var(--science);
}

.category-healthcare
{
    background-color: var(--healthcare);
}

.category-tech
{
    background-color: var(--tech);
}

.category-politics
{
    background-color: var(--policy);
}

.category-economy
{
    background-color: var(--economy);
}

.category
{
    display: inline-block;
    padding: .7rem;
    font-size: 2rem;
    border-radius: 2rem;
    color: #000;
    font-weight: 700;
}



/*Articles*/
.content .articles-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.content .articles-container .category
{
    display: block;
    text-align: center;
}

.content .articles-container img
{
    width: 100%;
    height: 50%;
}

.content .mycard a
{
    color: dimgrey;
}

.content .mycard a:hover
{
    color: brown;
}

/*Footer*/
.footer
{
    background-color: dimgrey;
    color: #fff;
    padding: 0 2rem;
}

.footer li a
{
    color: #fff;
}

.footer-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}

.footer-container > div:first-child,
.footer-container > div:nth-child(2),
.footer-container > div:nth-child(3),
.footer-container > div:nth-child(4)
{
    margin-top: 4rem;
}

.footer img
{
    width: 150px;
    padding: 2rem 2rem 0;
}

.footer input[type='email']
{
    width: 90%;
    padding: .5rem;
    margin-bottom: .5rem;
}

.footer input[type='submit']
{
    width: 90%;
}

.footer-container li
{
    padding: .5rem 0;
    border-bottom: 1px dotted #555;
    width: 90%;
}

.footer-container li a:hover
{
    color: greenyellow;
}

.footer-container>div:last-child
{
    background-color: #555;
    grid-column: 1/span 4;
    text-align: center;
    padding: .5rem;
}

/*Article Details*/
.page-container
{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2.5rem 0;
    gap: 1.5rem;
}

.page-container > *:first-child
{
    grid-row: 1 / span 3;
    text-align: justify;
}

.page-container > aside:nth-child(2)
{
    grid-row: 1 / span 2;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-container > *:last-child
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-row: 3;
    background-color: darkgrey;
}

.page-container .mycard li 
{
    padding: 0 1rem;
    margin: .5rem 0;
    list-style: none;
}

.page-container .mycard li :hover
{
    background-color: yellow;
    display: block;
}

.page-container .mycard .meta
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: darkgray;
}

#footer .mycard a
{
    color: aqua;
}

#footer .mycard a:hover
{
    color: pink;
}